Project/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Project/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Project/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Project/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Project/obj/Debug/Test Website.csproj.FileListAbsolute.txt
Project/obj/Debug/Test Website.dll
Project/obj/Debug/Test Website.pdb
Project/obj/Debug/TestWebsite.csproj.FileListAbsolute.txt
Project/obj/Release/_WPPLastBuildInfo.txt
Project/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Project/obj/Release/Package/PackageTmp/App_Config/Include/zzz.Sitecore.DependencyInjection.config
Project/obj/Release/Package/PackageTmp/ApplicationInsights.config
Project/obj/Release/Package/PackageTmp/bin/ApplicationInsights.config
Project/obj/Release/Package/PackageTmp/bin/Castle.Core.dll
Project/obj/Release/Package/PackageTmp/bin/Castle.Windsor.dll
Project/obj/Release/Package/PackageTmp/bin/Microsoft.AI.Agent.Intercept.dll
Project/obj/Release/Package/PackageTmp/bin/Microsoft.AI.DependencyCollector.dll
Project/obj/Release/Package/PackageTmp/bin/Microsoft.AI.PerfCounterCollector.dll
Project/obj/Release/Package/PackageTmp/bin/Microsoft.AI.ServerTelemetryChannel.dll
Project/obj/Release/Package/PackageTmp/bin/Microsoft.AI.Web.dll
Project/obj/Release/Package/PackageTmp/bin/Microsoft.AI.WindowsServer.dll
Project/obj/Release/Package/PackageTmp/bin/Microsoft.ApplicationInsights.dll
Project/obj/Release/Package/PackageTmp/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
Project/obj/Release/Package/PackageTmp/bin/Microsoft.Web.Infrastructure.dll
Project/obj/Release/Package/PackageTmp/bin/roslyn/csc.exe
Project/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
Project/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
Project/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.dll
Project/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
Project/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CSharp.Core.targets
Project/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.VisualBasic.Core.targets
Project/obj/Release/Package/PackageTmp/bin/roslyn/System.Collections.Immutable.dll
Project/obj/Release/Package/PackageTmp/bin/roslyn/System.Reflection.Metadata.dll
Project/obj/Release/Package/PackageTmp/bin/roslyn/vbc.exe
Project/obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe
Project/obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe.config
Project/obj/Release/Package/PackageTmp/bin/Sitecore.ContentSearch.dll
Project/obj/Release/Package/PackageTmp/bin/Sitecore.ContentSearch.Linq.dll
Project/obj/Release/Package/PackageTmp/bin/Sitecore.DependencyInjection.dll
Project/obj/Release/Package/PackageTmp/bin/System.Web.Helpers.dll
Project/obj/Release/Package/PackageTmp/bin/System.Web.Mvc.dll
Project/obj/Release/Package/PackageTmp/bin/System.Web.Razor.dll
Project/obj/Release/Package/PackageTmp/bin/System.Web.Webpages.Deployment.dll
Project/obj/Release/Package/PackageTmp/bin/System.Web.Webpages.dll
Project/obj/Release/Package/PackageTmp/bin/System.Web.Webpages.Razor.dll
Project/obj/Release/Package/PackageTmp/bin/Test Website.dll
Project/obj/Release/Package/PackageTmp/bin/WebActivatorEx.dll
Project/obj/Release/Package/PackageTmp/Global.asax
Project/obj/Release/Package/PackageTmp/packages.config
Project/obj/Release/Package/PackageTmp/Views/MetaData/MetaData.cshtml
Project/obj/Release/Package/PackageTmp/Views/News/NewsCreate.cshtml
Project/obj/Release/Package/PackageTmp/Views/News/NewsList.cshtml
Project/obj/Release/Package/PackageTmp/Views/PageContent/PageContent.cshtml
Project/obj/Release/Package/PackageTmp/Views/PageContent/PageTitle.cshtml
Project/obj/Release/Package/PackageTmp/Views/Shared/_Layout.cshtml
Project/obj/Release/Package/PackageTmp/Views/web.config
Project/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Project/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Project/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Project/obj/Release/Test Website.csproj.FileListAbsolute.txt
Project/obj/Release/Test Website.csprojResolveAssemblyReference.cache
Project/obj/Release/Test Website.dll
Project/obj/Release/Test Website.pdb
Project/obj/Release/TestWebsite.csproj.FileListAbsolute.txt
Project/bin/Test Website.dll
Project/bin/Test Website.pdb
Project/bin/Test Website.dll
Project/bin/Test Website.pdb
Project/obj/Debug/build.force
Project/obj/Debug/Test Website.csprojResolveAssemblyReference.cache
Project/obj/Release/Package/PackageTmp/App_Config/Include/Rainbow.config
Project/obj/Release/Package/PackageTmp/App_Config/Include/Unicorn/Unicorn.AutoPublish.config
Project/obj/Release/Package/PackageTmp/App_Config/Include/Unicorn/Unicorn.config
Project/obj/Release/Package/PackageTmp/App_Config/Include/Unicorn/Unicorn.Configs.Default.config
Project/obj/Release/Package/PackageTmp/App_Config/Include/Unicorn/Unicorn.DataProvider.config
Project/obj/Release/Package/PackageTmp/App_Config/Include/Unicorn/Unicorn.UI.config
Project/obj/Release/Package/PackageTmp/bin/Kamsar.WebConsole.dll
Project/obj/Release/Package/PackageTmp/bin/MicroCHAP.dll
Project/obj/Release/Package/PackageTmp/bin/Rainbow.dll
Project/obj/Release/Package/PackageTmp/bin/Rainbow.Storage.Sc.dll
Project/obj/Release/Package/PackageTmp/bin/Rainbow.Storage.Yaml.dll
Project/obj/Release/Package/PackageTmp/bin/Unicorn.dll
Project/obj/Release/Package/PackageTmp/App_Config/Include/Custom/zVars.config
Project/obj/Release/Package/PackageTmp/Views/Navigation/MainNavigation.cshtml
Project/bin/Test Website.dll
Project/bin/Test Website.pdb
