@model Test_Website.Models.NewsModel
<article>
    <ul>
        @foreach (var item in Model.Items)
        {
            <li>
                <h3>@item.Fields["NewsTitel"]</h3>
                <p>@item.Fields["NewsContent"]</p>
            </li>
        }
    </ul>
</article>