@using Sitecore.Links
@model Test_Website.Models.NewsModel
<div class="row">
    <div class="col-sm-12">
        <ul class="list-group">
            @foreach (var item in Model.Items)
            {
                <li class="list-group-item">
                   <a href="@LinkManager.GetItemUrl(item)">@item.Fields["NewsTitle"]</a>
                </li>
            }
        </ul>
    </div>
</div>